In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'/Users/edgartome_1/IronHack/IronProjects/Project8/Data/uber-raw-data-apr14.csv')
data.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564516 entries, 0 to 564515
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  564516 non-null  object
 1   Lat        564516 non-null  float64
 2   Lon        564516 non-null  float64
 3   Base       564516 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.2+ MB

In [4]:
data2 = pd.read_csv(r'/Users/edgartome_1/IronHack/IronProjects/Project8/Data/uber-raw-data-sep14.csv')
data2.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [5]:
data.columns

Index(['Date/Time', 'Lat', 'Lon', 'Base'], dtype='object')

In [9]:
allcol = list(data.columns)
allcol
for x in allcol:
    print(x)
    print(data[x].unique())
    print('\n')

Date/Time
['4/1/2014 0:11:00' '4/1/2014 0:17:00' '4/1/2014 0:21:00' ...
 '4/24/2014 3:08:00' '4/24/2014 3:11:00' '4/30/2014 2:55:00']


Lat
[40.769  40.7267 40.7316 ... 40.9639 40.9086 41.0989]


Lon
[-73.9549 -74.0345 -73.9873 ... -73.6038 -73.6334 -74.534 ]


Base
['B02512' 'B02598' 'B02617' 'B02682' 'B02764']

In [ ]:
ids = data["ID"]
data[ids.isin(ids[ids.duplicated()])].sort_values("ID")